@media only screen and (max-width: 768px) and (min-width: 280px) {
  .results {
    background-image: url("../assets/images/grilledGoods.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }
  .results-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 20px;
  }
  .pikachu-results {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.564);
    border-radius: 100%;
    border: solid black;
  }
  .bubble-results {
    width: 65%;
    height: auto;
    background-image: url("../assets/images/pokebubblebox.png");
    background-color: rgba(255, 255, 255, 0.584);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .resultsButton {
    font-family: "Press Start 2P", cursive;
    width: 80%;
    padding: .6rem 0;
    align-self: center;
    font-size: 15px;
    background-color: rgba(255, 251, 219, 0.838);
    border-radius: 30px;
  }
}
/* desktop*/
@media only screen and (min-width: 769px) {
  .pikachu-results,
  .bubble-results,
  .carousel-status {
    display: none;
  }
  .results {
    background-image: url("../assets/images/recipeResults.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .carousel-root {
    display: flex;
    justify-content: center;
    margin-top: 9vh;
  }
  .resultsButton {
    font-family: "Roboto";
    font-size: 17px;
    width: 250px;
    padding: 1vh;
    border-radius: 30px;
    border: 1px solid black;
    background-color: transparent;
    margin: 1rem auto;
  }
}
/* @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .results {
    background-image: url("../assets/images/recipeResults.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
} */
