@media only screen and (max-width: 768px) and (min-width: 280px) {
  .carousel .thumbs-wrapper {
    display: none !important;
  }
  .legend {
    font-family: cursive;
    color: black !important;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid black;
  }
  .recipeContainer {
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 3.3rem;
  }
  .carousel .slide {
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .carousel .slide img {
    border-top: 3px solid white !important;
    border-bottom: 3px solid white !important;
  }
  .carousel .slide .legend {
    opacity: 0.8 !important;
    padding: 0% !important;
    bottom: 0% !important;
  }
  .carousel .control-dots {
    position: unset !important;
  }
  .recipeStepsBox {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: 110% 98%;
    background-position: center;
    border: 1px solid black;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    top: 0.5%;
    left: 0.5%;
    width: 98%;
    height: 95%;
    box-shadow: 50px 50px 280px 80px rgba(0, 0, 0, 0.4);
    text-align: center;
    overflow-x: auto;
    font-family: "Nerko One", cursive;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-top: 15px;
  }
  .stepStyle {
    font-family: "Nerko One", cursive;
    font-size: 1.1rem;
    margin-top: 10px;
    color: black;
  }
  .recipeButton {
    width: 9em;
    height: 2.5em;
    border-radius: 30px;
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-bottom: 10%;
  }
  .ingredientsAmount {
    font-family: "Nerko One", cursive;
    font-size: 1.2rem;
    color: black;
  }
  .ingredientsAmount ul {
    margin: 0;
    padding-left: 0;
    text-align: left;
    list-style-type: none;
  }
  .ingredientsAmount ul li {
    margin: 0.5rem 0.3rem;
    text-align: left;
    list-style: none;
  }
  .ingredStepsList {
    margin-bottom: 0;
    padding-top: 0;
    list-style-type: none;
  }
  .ingredientsButton {
    border: none;
    width: 80%;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
  }

  .stepInstruction {
    color: rgb(240, 60, 60);
  }

  .steps {
    color: black;
    text-decoration: underline;
    font-style: oblique;
  }
  .resultTitleDesktop {
    display: none;
  }
}
@media only screen and (max-width: 336px) {
  .span1 {
    font-size: 11px !important;
  }
}

/* desktop version starts here */

@media only screen and (min-width: 769px) and (max-width: 1920px) {
  @font-face {
    font-family: "hashedbrowns";
    src: url("../../fonts/HashedBrowns-WyJgn.ttf");
  }
  .resultTitleDesktop {
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-top: 2rem;
    text-align: center;
    color: yellow;
    font-family: hashedBrowns;
    -webkit-text-stroke: 1px red;
    font-size: 50px;
    z-index: 1;
  }
  .carousel.carousel-slider {
    border: 3px solid black;
    position: absolute;
    top: 0.5rem;
    left: 30%;
    width: 40% !important;
    margin-top: 3 !important;
    border-radius: 20px;
  }
  .legend {
    font-family: "Nerko One", cursive;
    color: black !important;
    margin-bottom: 0;
    background-color: beige !important;
    border: 1px solid black;
  }
  .carousel .slide .legend {
    opacity: 0.8 !important;
    padding: 0% !important;
  }
  .ingredientsButton {
    border: none;
    width: 80%;
    background-color: beige;
    font-family: cursive;
    font-size: 17px;
  }
  .steps {
    margin-top: 0;
    color: black;
    text-decoration: underline;
    font-style: oblique;
  }
  .recipeStepsBox {
    background-color: rgba(250, 235, 215, 0.947);
    background-repeat: no-repeat;
    /* background-size: 65% 75%; */
    background-position: center;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 13%;
    right: 10%;
    width: 75%;
    height: 75%;
    text-align: center;
    overflow-x: auto;
    font-family: "Nerko One", cursive;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .ingredientsAmount ul li {
    list-style-type: none;
    margin-left: 18%;
    margin-right: 20%;
  }
  .stepStyle {
    margin-left: 22%;
    margin-right: 21%;
  }
  .stepInstruction {
    color: rgb(240, 60, 60);
  }
  .recipeButton {
    width: 9em;
    height: 2.5em;
    border-radius: 30px;
    font-size: 1.1rem;
    background-color: white;
    color: black;
    margin-bottom: 3%;
  }
  .span1 {
    font-family: "Nerko One", cursive;
    font-size: 15px;
  }
}
